body{
    margin: 0;
}

.btn{
    display: block;
    text-align: center;
    margin: 2rem auto;
}

/* show content into center*/
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#shape{
    height: 200px;
    width: 200px;
    margin: 2rem auto;
    background-color: green;
    border: 2px solid rgb(95, 89, 89);
    border-radius: 50%;
}

#square{
    height: 80px;
    width: 80px;
    background-color: rgb(211, 118, 118);
    background-color: ga;
}

#circle{
    height: 80px;
    width: 80px;
    background-color: rgb(80, 66, 66);
    border-radius: 50%;
}

#rectangle{
    height: 60px;
    width: 100px;
    background-color: rgb(122, 190, 57);
}

#triangle{
    /* box-sizing: border-box; */
    height: 0px;
    width: 0px;
    /* background-color: white; */
    border-left: 50px solid transparent;
    border-bottom:50px solid blue;
    border-right: 50px solid green;
    border-top:50px solid red;
}